@model IEnumerable<ApartmentManagement.Domain.Entities.Block>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxFlat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxFlat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="UpdateBlock" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteBlock" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
