@using ApartmentManagement.Business.DTOs
@model List<UserDto>
<p>
    <a asp-action="AddUser">Create New</a>
</p>
    @if(@TempData["Alert"]!=null)
    {
         <div class="alert alert-success">
      <strong> @TempData["Alert"]</strong> 
      </div>
    }
<table class="table">
    <thead>
        <tr>
             <th>
                <label>İsim</label>
            </th>
            <th>
            <label>Soyisim</label>
            </th>
            <th>
              <label>Email</label>
            </th>
            <th>
               <label>Plaka</label>
            </th>
            <th>
               <label>Tc</label>
            </th>
            <th></th>
        </tr>
    </thead>
<tbody>
    @foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CarPlateNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TcNo)
            </td>

            <td>
                <a asp-action="UpdateUser" asp-route-id="@item.Id">Düzenle</a> |
                <a asp-action="DeleteUser" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>